apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: whistlertemplates.whistler.io
spec:
  group: whistler.io
  versions:
    - name: v1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                user:
                  type: string
                image:
                  type: string
                description:
                  type: string
                resources:
                  type: object
                  properties:
                    cpu:
                      type: string
                    memory:
                      type: string
                    gpu:
                      type: string
                nodeSelector:
                  type: object
                  additionalProperties:
                    type: string
  scope: Namespaced
  names:
    plural: whistlertemplates
    singular: whistlertemplate
    kind: WhistlerTemplate
    shortNames:
    - wt

---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: whistlerinstances.whistler.io
spec:
  group: whistler.io
  versions:
    - name: v1
      served: true
      storage: true
      subresources:
        status: {}
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                templateRef:
                  type: string
                user:
                  type: string
            status:
              type: object
              properties:
                phase:
                  type: string
                podName:
                  type: string
                sshHost:
                  type: string
                sshPort:
                  type: integer
  scope: Namespaced
  names:
    plural: whistlerinstances
    singular: whistlerinstance
    kind: WhistlerInstance
    shortNames:
    - wi
